<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-color-active-balanced">

    <ion-tab title="Ideas de hoy" icon-off="ion-ios-lightbulb" icon-on="ion-ios-lightbulb" href="#/tab/now">
        <ion-nav-view name="tab-now"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Publicar idea" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/publicate">
        <ion-nav-view name="tab-publicate"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Primeras 10" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/ten">
        <ion-nav-view name="tab-ten"></ion-nav-view>
    </ion-tab>

</ion-tabs>
