<ion-view view-title="Publicar">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Categoría
                </div>
                <select ng-model="publicate.category" ng-options="category.name for category in categoryList"></select>
            </label>
            

                <label class="item item-input item-floating-label">
                    <span class="input-label">Titulo</span>
                    <input type="text" placeholder="Titulo" ng-model="publicate.title">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Cuerpo</span>
                    <textarea rows="5" cols="10" placeholder="Cuerpo" ng-model="publicate.body"></textarea>
                </label>
        </div>
        <button class="button col col-50 center button-positive" ng-click="public()">Publicar</button>

    </ion-content>
</ion-view>
