<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Inicio de sesion</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Usuario</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="login()">Iniciar sesion</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
