<ion-view view-title="Ideas">
    <ion-content class="padding">
        <label class="item item-input item-select">
            <div class="input-label">
                Categoria
            </div>
          
            <select  ng-model="selectedItem" >
                <option ng-repeat="option in categories" ng-value="option.name">{{option.name}}</option>
            </select>


        </label>

        <div class="list card"> ng-repeat="x in ideas | filter: {'tipo':selectedItem}">

            <div class="item item-avatar">
                <h2>{{x.user.username}}</h2>
                <h3>{{x.category.name}}</h3>
                <p>{{x.fecha}}</p>
            </div>
            <div class="item item-body">
                <h2>{{x.title}}</h2>
                <p>
                    {{x.body}}
                </p>
            </div>
        </div>
     
</ion-view>
