<ion-view view-title="Ideas">
    <ion-content class="padding">
        <label class="item item-input item-select"> 
            <div class="input-label">
                Categoria
            </div>
            <select ng-model="selected.Item" ng-options="category.name for category in categories" ng-change="ideasFilter()"></select>

        </label> 
        <div class="list card" ng-repeat="x in ideasByCategory" ng-model="ideasByCategory">
            <div class="item item-avatar title-bar">
                <div class="title-bar__title">
                    <span>{{x.title}}</span> 
                </div>
                <div class="title-bar__user">
                    <span style="">{{x.user.username}}</span>
                </div>

            </div>
            <div class="item item-body body">
                <!--<h2 style="margin: 0;">{{x.title}}</h2>-->
                <span>{{ x.date | date : format}}</span>
                <p class="body__p">
                    {{x}}
                </p>
            </div>
            <div class="item item-avatar comments-bar">
                <a ng-click="assignApprove(x.id)"> Aprobar {{x.approve}} </a>
                <a ng-click="assingDisapprove(x.id)"> Desaprobar {{x.disapprove}} </a>

                <span>Comentarios: </span>
            </div>

        </div>  

</ion-view>
